*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
  padding: 0 10px;
  }
  
  .shop-cart{
    text-align: center;
    padding: 40px 0;    
  }
  
  .products{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;
    border: 2px solid #eee;
    margin-bottom: 10px;
  }
  
  .products:hover{
  cursor: pointer;
  }
  
  .product-image1{
    width: 20%;
    text-align: center;
  }
  .product-details1{
    width: 37%;
    text-align: center;
  }
  .product-price1{
    width: 12%;
    text-align: center;
  }
  .product-quantity1{
    width: 10%;
    text-align: center;
  }
  .product-removal1{
    text-align: center;
  }
  .product-line-price1{
    width: 12%;
    text-align: center;
  }
  .products .product-quantity1 input {
    width: 40px;
  }
  
  .remove-product1 {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product1:hover {
    background-color: #a44;
  }
  
  
  /* TOTAL */
  .totals-item1 {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .totals-item1 label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
  }
  
  .totals-value1 {
    float: right;
    width: 15%;
    text-align: center;
  }
  
  /* Checkout */
  .checkout {
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .check{
      text-align: right;
      padding: 0 60px;
  }
  .checkout:hover {
    background-color: #494;
  }
  
  @media screen and (max-width: 960px) {
  
    .shopping-cart11 {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #333;
    }
    
    .column-labels1 {
      display: none;
    }
    
    .product-image1 {
      float: right;
      width: auto;
    }
    .product-image1 img {
        margin: 0 0 10px 10px;
    }
    .product-details1 {
        float: none;
        margin-bottom: 10px;
        width: auto;
      }    
      .product-price1 {
        clear: both;
        width: 70px;
      }
      
      .product-quantity1 {
        width: 100px;
      }
      .product-quantity1 input {
        margin-left: 20px;
      }
      
      /* .product-quantity:before {
        content: 'x';
      } */
      
      .product-removal1 {
        width: auto;
      }
      
      .product-line-price1 {
        float: right;
        width: 70px;
      }    
  
      .product-image1{
        width: 20%;
        /* text-align: center; */
    }
    .product-details1{
        width: 30%;
        /* text-align: center; */
    }
    .product-price1{
        width: 12%;
        /* text-align: center; */
    }
    .product-quantity1{
        width: 10%;
        /* text-align: center; */
    }
  
  }
  
    @media screen and (max-width: 650px) {
        .products{
            flex-direction: column;
        }
  
        .product-removal1 {
          float: right;
        }     
        .product-line-price1 {
          float: right;
          clear: left;
          width: auto;
          margin-top: 10px;
        }
  
        .product-quantity1{
            padding: 11px 0;
            margin-left: -63px;
        }
  
        .products .product-quantity1 input {
            width: 60px;
            text-align: center;
        }
        
        p {
            margin: 5px 10px 10px;
        }
        /* .product .product-line-price:before {
          content: 'Item Total: $';
        } */
        
        .totals-item1 label {
            width: 60%;
            text-align: center;
        }
        .totals-item1 .totals-value {
            width: 40%;
        }
        .check {
            padding: 0 55px;
            text-align: center;
        }
    }